img {
  padding: 30px;
  width: 30px;
  height: 30px;
}

.div {
  justify-content: center;
}

.popover {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 2px solid;
  flex-wrap: wrap;
  border-radius: 15px;
  padding: 10px;
  margin: 5px;
   
}