/* .popup {
  
  padding: 10px;
  margin: 10px;
  width: 100%;
  border-radius: 15px;
  display: flex;
  justify-content: space-around;
}
.showpopup {
  flex-direction: row;
  

  flex-wrap: wrap;
}
.table{
  width: 65%;
  border: 2px solid black;
  border-collapse: collapse;
}




.header{
  text-align: center;
}
.popupBorder{
  border: 2px black solid;
  padding: 10px;
  border-radius: 20px;

} */

.popup {
  border: 2px solid rgb(23, 21, 21);
  padding: 10px;
  margin: 10px;
  width: 95%;
  border-radius: 15px;
}
.showpopup {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  flex-wrap: wrap;
}
.tb { border-collapse: collapse; width:65%; }
  .tb th, .tb td { padding: 5px; border: solid 1px #777; }
  .tb th { background-color: lightblue; }
/* 
.th {
  background-color: rgb(170, 167, 167);
} */
